.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
      }
    
    .form-control-label
    {
        margin-bottom: 0
    }

    .btn-block
    {
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }
    .dropdown-menu {
        animation: 0.5s slideup;
      }
      
      @keyframes slideup {
        from {
          transform: translateY(10%);
        }
      
        to {
          transform: translateY(0);
        }
      }
      